<mat-nav-list color="primary" >
    <a mat-list-item matLine  routerLink="/home"  (click)="onsidenavClose('home')">
        <mat-icon>home</mat-icon><span class="nav-caption">Home</span>
    </a>
    <a mat-list-item matLine  routerLink="/emp" (click)="onsidenavClose('emp')">
        <mat-icon>assignment_ind</mat-icon><span class="nav-caption">Employee</span>
    </a> 
    <!-- <a mat-list-item matLine  routerLink="/covid" (click)="onsidenavClose('covid')">
        <mat-icon>assignment_ind</mat-icon><span class="nav-caption">Covid Data</span>
    </a> -->
    <a mat-list-item matLine  routerLink="/account" (click)="onsidenavClose('account')">
        <mat-icon>assignment_ind</mat-icon><span class="nav-caption">Account Data</span>
    </a>  
    <a mat-list-item matLine  routerLink="/templateforms" (click)="onsidenavClose('templateforms')">
        <mat-icon>assignment_ind</mat-icon><span class="nav-caption">Template forms</span>
    </a>  
</mat-nav-list>

