<h1>Covid information</h1>
<table>
    <thead>
        <th>Newely Confirmed Cases</th>
        <th>Total Confirmed Cases</th>
        <th>New Deaths</th>
        <th>Total Deaths</th>
        <th>Newely Recovered</th>
        <th>Total Recovered</th>
        <th>Date</th>
    </thead>
    <tbody>
        <tr>
            <td>{{CovidData.Global.NewConfirmed|number:'1.0-0'}}</td>
            <td>{{CovidData.Global.TotalConfirmed|number:'1.0-0'}}</td>
            <td>{{CovidData.Global.NewDeaths|number:'1.0-0'}}</td>
            <td>{{CovidData.Global.TotalDeaths|number:'1.0-0'}}</td>
            <td>{{CovidData.Global.NewRecovered|number:'1.0-0'}}</td>
            <td>{{CovidData.Global.TotalRecovered|number:'1.0-0'}}</td>
            <td>{{CovidData.Global.Date|date:"dd/mm/yyyy"}}</td>
        </tr>
    </tbody>
</table>
<br/><br/>
 <div style="margin-left: 35%;"> 
<label for="Please enter country Name">Please enter country Name</label> 
<input type = "text" [(ngModel)]="selectedCountry"  style="margin-left: 2%;">
<!--<input type = "text" [(ngModel)]="selectedCountry" (input) = "filtercountriess()" style="margin-left: 2%;">-->
<button class="btn btn-default" (click)="filtercountriess()">Search</button>
</div>
<div class="sticky-wrap">
<table  class="sticky-enabled" style="margin: 0px; width: 100%;"> 
    <thead>
        <th>ID</th>
        <th>Country</th>
        <th>CountryCode</th>
        <th>Slug</th>
        <th>Newely Confirmed</th>
        <th>Total Confirmed</th>
        <th>New Deaths</th>
        <th>Total Deaths</th>
        <th>Newely Recovered</th>
        <th>Total Recovered</th>
        <th>Date</th>
    </thead>
    <tbody>
        <ng-container *ngFor="let cvd of covidinfo;let i=index;">
        <tr>
            <td>{{i+1}}</td>
            <td>{{cvd.Country|titlecase}}</td>
            <td>{{cvd.CountryCode}}</td>
            <td>{{cvd.Slug|titlecase}}</td>
            <td>{{cvd.NewConfirmed|number:'1.0-0'}}</td>
            <td>{{cvd.TotalConfirmed|number:'1.0-0'}}</td>
            <td>{{cvd.NewDeaths|number:'1.0-0'}}</td>
            <td>{{cvd.TotalDeaths|number:'1.0-0'}}</td>
            <td>{{cvd.NewRecovered|number:'1.0-0'}}</td>
            <td>{{cvd.TotalRecovered|number:'1.0-0'}}</td>
            <td>{{cvd.Date|date:"dd/mm/yyyy"}}</td>
        </tr>
        </ng-container>
    </tbody>
</table>
</div>
 
