<div *ngFor="let account of accounts; let i = index">
 <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h5>{{account.name }}</h5>
      <hr>
      <p>This account is {{ account.status }}</p>
      <button class="btn btn-default" (click)="onSetTo('active', i)">Set to 'active'</button>
      <button class="btn btn-default" (click)="onSetTo('inactive',i)">Set to 'inactive'</button>
      <button class="btn btn-default" (click)="onSetTo('unknown',i)">Set to 'unknown'</button>
    </div>
  </div>
</div>

  
  
